    .footer {
      background: #0d1321;
      padding: 50px 20px 20px;
    }

    .footer-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 40px;
      max-width: 1200px;
      margin: auto;
    }

    .footer-logo h2 {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      color: #ff69b4;
    }

    .footer-logo span {
      display: block;
      margin-top: 5px;
      font-size: 14px;
      color: #ccc;
    }

    .footer-logo p {
      margin: 15px 0;
      font-size: 14px;
      color: #aaa;
      line-height: 1.6;
    }

    .social-icons a {
      display: inline-block;
      margin-right: 10px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      text-align: center;
      line-height: 35px;
      color: #fff;
      background: #1e293b;
      transition: 0.3s;
    }
    .social-icons a:hover {
      background: #f43f5e;
    }

    .footer-links h3,
    .footer-categories h3,
    .footer-contact h3 {
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: bold;
      color: white;
    }

    .footer-links ul,
    .footer-categories ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .footer-links ul li,
    .footer-categories ul li {
      margin: 8px 0;
    }

    .footer-links ul li a,
    .footer-categories ul li a {
      text-decoration: none;
      color: #ccc;
      transition: 0.3s;
      font-size: 14px;
    }

    .footer-links ul li a:hover,
    .footer-categories ul li a:hover {
      color: #fff;
    }

    .footer-contact p {
      margin: 8px 0;
      font-size: 14px;
      color: #ccc;
    }

    .footer-contact p:nth-of-type(3) {
      text-transform: lowercase !important;
    }

    .footer-contact i {
      margin-right: 8px;
      color: #f43f5e;
    }

    .store-hours {
      background: #1e293b;
      padding: 12px;
      border-radius: 8px;
      font-size: 14px;
      margin-top: 10px;
      color: white;
    }

    .footer-bottom {
      border-top: 1px solid #1e293b;
      margin-top: 30px;
      padding-top: 15px;
      text-align: center;
      font-size: 14px;
      color: #aaa;
    }

    .footer-bottom span {
      color: #f43f5e;
    }

    .payment-icons img {
      height: 25px;
      margin: 0 5px;
      vertical-align: middle;
    }